body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: hsl(0,0%,13%);
}

.topnav li {
  float: left;
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover:not(.active) {
  background-color: hsl(0,0%,33%);
}

.topnav li .active {
  background-color: hsl(0,0%,50%);
}

.container {
  display: grid;
  height: 100vh;
  grid-gap: 5px;
  grid-template-columns: 300px 1fr 225px;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-areas:
    "topnav topnav topnav"
    "questions viewer editor"
    "document viewer editor";
}

.topnav {
  grid-area: topnav;
}
.panel-questions {
  grid-area: questions;
}

.panel-document {
  grid-area: document;
}

.panel-viewer {
  grid-area: viewer;
}

.panel-editor {
  grid-area: editor;
  box-sizing: border-box
}

.panel {
  display: grid;
  height: 100%;
  padding: 0;
  grid-template-rows: auto 1fr;
  color: hsl(0,0%,90%);
  overflow: auto;
  border: 1px solid hsl(0,0%,13%);
  border-radius: 0.5em;
  background-color: hsl(0,0%,13%);
}

.panel-header {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  border: none;
}

.header-item {
  padding: 0.8em 1em;
  font: inherit;
  margin: 0;
  background-color: inherit;
  color: inherit;
  border: none;
}

.header-buttons {
  margin-left: auto;
}

div.header-buttons>button {
  background-color: inherit;
  color: white;
  border: none;
  font-size: 2em;
  margin-right: 0.5em;
}

button#new-question {
  color: hsl(120, 50%, 50%);
}

button#new-question:hover {
  color: hsl(120, 100%, 50%);
}

button#delete-question {
  color: hsl(0, 75%, 50%);
}

button#delete-question:hover {
  color: hsl(0, 100%, 50%);;
}
.panel-body {
  overflow-y: scroll;
  display: block;
  border: none;
  background-color: white;
}

ul.questions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.question {
  display: grid;
  font-size: 0.8em;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:  "question-topic question-marks"
                        "question-description question-marks";
  background-color: white;
  height: 3em;
  color: black;
  padding: 0.2em;
  border-bottom: 0.1em solid #446d88;
  overflow: hidden;
}

.question:hover:not(.question-selected){
  background-color: lightslategray;
}

.question-topic {
  color: gray;
  margin: 0;
}

.question-selected {
  background-color: rgb(181, 189, 194);
}

div.question-description {
  font-weight: bold;
  color: black;
  height: 3em;
}

div.question-marks {
  align-content: center;
}

img {
  max-width: 100%;
  height: auto;
}

div.viewer-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "question markscheme data";
}

div.tab-content {
  display: none;
}

.form-item {
  box-sizing: border-box;
}

.form-item>input,label,textarea {
  display: block;
  box-sizing:border-box;
  font-family: inherit;
  font-size: 0.8em;
  margin: 0.5em;
  width: 100%;
}

.form-item>input, textarea {
  display: block;
  margin-bottom: 1em;
  padding: 0.5em;
  background-color: white;
  border: none;
}

.form-item>label {
  display: block;
}

.form-item>textarea {
  height: 10em;
  resize: none;
}

.tab-button.active {
  background-color: white;
  color: black;
}

.form-item {
  margin-bottom: 0.5em;
}