body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    background: rgb(250, 238, 218);
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav li {
  float: left;
}

.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover:not(.active) {
  background-color: #111;
}

.topnav li .active {
  background-color: #58a;
}

.container {
  display: grid;
  height: 100vh;
  grid-gap: 5px;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-areas:
  "topnav topnav"
  "questions viewer"
  "document viewer"
}

.topnav {
  grid-area: topnav;
}
.questions {
  grid-area: questions;
}

.document {
  grid-area: document;
}

.viewer {
  grid-area: viewer;
}

.panel {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  margin: 0.2em;
  background-color: #fff;
  color: #fff;
  border: 0.1em solid #446d88;
  border-radius: 0.3em;
  box-shadow: 0 0.1em 0.5em rgba(0,0,0,0.5);
  overflow: auto;
}

.panel-header {
  background: #58a linear-gradient(hsla(0,0%,100%,.2), transparent);
  padding: 0.5em 1em;
  border-radius: 0.1em 0.1em 0 0;
  border-bottom: 0.1em solid #446d88;
}

.panel-actions {
  background-color: lightslategray;
}
.panel-body {
  overflow-y: scroll;
  display: block;
}

ul.questions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.question {
  display: grid;
  font-size: 0.8em;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:  "question-topic question-marks"
                        "question-description question-marks";
  background-color: white;
  height: 3em;
  color: black;
  padding: 0.2em;
  border-bottom: 0.1em solid #446d88;
  overflow: hidden;
}

.question:hover:not(.question-selected){
  background-color: mintcream;
}

.question-topic {
  color: gray;
  margin: 0;
}

.question-selected {
  background-color: rgb(181, 189, 194);
}

div.question-description {
  font-weight: bold;
  color: black;
  height: 3em;
}

div.question-marks {
  align-content: center;
}