body {
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 50%);
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.page {
    display: grid;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: "topnav topnav" "questions viewer" "document viewer";
}

.panel {
    border-radius: 0.5em;
    display: grid;
    overflow: hidden;
    margin: 5px;
    padding: 0;
    grid-template-rows: auto 1fr;
    border: 1px solid hsl(0, 0%, 85%)
}

#questions {
    grid-area: questions;
}

#document {
    grid-area: document;
}

#viewer {
    grid-area: viewer;
}

#editor {
    grid-area: editor;
}

nav {
    height: fit-content;
    border-bottom: none;
    background-color: hsl(0, 0%, 85%);
}

nav>* {
    padding: 0.7em;
    display: inline-block;
    font-size: 1em;
    margin: 0;
    border: none;
    background-color: inherit;
    vertical-align: middle;
}

#topnav {
    grid-area: topnav;
}

.right {
    float: right;
}

.tab-button {
    color: inherit;
    box-sizing: border-box;
}

.tab-button.active {
    color: black;
    background-color: white;
}

button.icon {
    font-size: 2em;
    padding: 0.1em 0.3em;
    float: right;
}

button.add {
    color: hsl(120, 50%, 50%);
}

button.add:hover {
    color: hsl(120, 100%, 50%);
}

button.delete {
    color: hsl(0, 50%, 50%);
}

button.delete:hover {
    color: hsl(0, 100%, 50%);
}

ul.question-list {
    overflow-y: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.question {
    display: grid;
    font-size: 0.8em;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "topic marks" "description marks";
    background-color: white;
    height: 3em;
    color: black;
    padding: 0.2em;
    border: 0.1em solid hsl(0, 0%, 85%);
    box-shadow: 0 .05em .25em rgba(0, 0, 0, .5);
    margin: 3px;
}

.question:hover:not(.question-selected) {
    background-color: hsl(0, 0%, 88%);
}

.question-topic {
    grid-area: topic;
    margin: 0;
}

.question-selected {
    background-color: hsl(0, 0%, 80%);
}

div.question-description {
    grid-area: description;
    font-weight: bold;
    color: black;
    height: 3em;
}

div.question-marks {
    grid-area: marks;
    align-content: center;
}

.button-save:hover {
    background-color: hsl(0, 0%, 50%)
}

.drop-area.highlight {
    border: 5px dashed hsl(61, 86%, 72%);
}

#question-form {
    display: flex;
    overflow-y: hidden;
}

.image-content {
    overflow-y: scroll;
    min-width: 400px;
    width: 100%;
    flex-grow: 2;
}

img {
    width: 100%;
    height: auto;
}

div.tab-content {
    overflow-y: hidden;
}

#data {
    width: 300px;
    background-color: hsl(0, 0%, 85%);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5em;
    box-sizing: border-box;
}

#data>textarea,
input {
    border: none;
    font-family: inherit;
    border-radius: 0.2em;
    padding: 0.4em 0.5em;
    margin-bottom: 0.5em;
}

#data>textarea {
    height: 100%;
    resize: none;
}

#data>label {
    font-size: 0.7em;
}