{% extends 'base.html' %} {% block title %}DB {% endblock %} {% block head %} {{ super() }} {% endblock %} {% block body %}
<div class="page">
    <nav id="topnav">
        <button class="nav-item">Load</button>
        <button class="nav-item right"><a class="active" href="{{ url_for('logout') }}">Log out</a></button>
    </nav>
    <div class="panel" id="questions">
        <nav>
            <div>Questions</div>
            <button class="icon delete" type="button" id="delete-question">-</button>
            <button class="icon add" type="button" id="new-question">+</button>
        </nav>
        <ul class="question-list" id="qdb">
            {% include 'questions.html' %}
        </ul>
    </div>
    <div class="panel" id="viewer">
        <nav>
            <button class="tab-button active" data-target="question-images">Question</button>
            <button class="tab-button" data-target="markscheme-images">Mark Scheme</button>
        </nav>
        <form id="question-form">
            <div class="image-content">
                <div class="tab-content drop-area" id="question-images">
                </div>
                <div class="tab-content drop-area" id="markscheme-images"></div>
            </div>
            <div id="data">
                <input type="text" value="" id="id" name="id">
                <label for="course">Course</label>
                <input type="text" id="course" name="course">
                <label for="topic">Topic</label>
                <input type="text" id="topic" name="topic">
                <label for="description">Description</label>
                <textarea type="text" id="description" name="description"></textarea>
                <label for="content">Content</label>
                <textarea type="text" id="content" name="content"></textarea>
                <label for="marks">Marks</label>
                <input type="number" id="marks" name="marks" value="">
                <input type="file" id="qImageFileElem" multiple accept="image/*" onchange="handleFile(this.Files)" name='question-images'>
                <input type="file" id="qImageFileElem" multiple accept="image/*" onchange="handleFile(this.Files)" name='markscheme-images'>
                <input class="button-save" type="submit" value="Save" id="save-question">
            </div>
        </form>
    </div>
    <div class="panel" id="document">
        <nav>
            <span>New Document</span>
        </nav>
        <ul class="question-list drop-area"></ul>
    </div>
</div>

<template id="image-template">
    <img class="question-image">
</template>

<template id="question-template">
    <li class="question" data-id="" draggable="true">
        <div class="topic">
        </div>
        <div class="marks">
        </div>
        <div class="description">
        </div>
    </li>
</template>
{% endblock %}
</html>