<form>
    <label for="course">Course</label>
    <input type="text" id="course" name="course" value="{{ q.course }}">
    <label for="topic">Topic</label>
    <input type="text" id="topic" name="topic" value="{{ q.topic }}">
    <label for="description">Description</label>
    <input type="text" id="description" name="description" value="{{ q.description }}">
    <label for="content">Content</label>
    <input type="text" id="content" name="content" value="{{ q.content }}">
    <label for="marks">Marks</label>
    <input type="text" id="marks" name="marks" value="{{ q.marks }}">
    <input type="submit" value="submit">
</form>